body {
  font-size: 18px;
  font-family: "Hachi Maru Pop", "Modak", cursive;
  background: url(./images/Blackout-Background.jpg);
  background-size: cover;
}

.weatherContainer {
  width: 60%;
  margin: 150px auto;
  padding: 20px;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  background: rgba($color: #ece9e96e, $alpha: 0.8);
}
