.result-container ul {
  list-style-type: none;
  margin-top: 20px;
}
#located-city {
  margin-top: 20px;
}

#date {
  text-align: center;
}

#localTime {
  text-align: center;
  margin-bottom: 3rem;
}

p {
  text-align: center;
}
h1 {
  text-align: center;
  margin-bottom: 1rem;
}

li {
  text-align: center;
  margin-bottom: 1rem;
}
